services:
  balancer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tcp-lb
    ports:
      - "8080:8080"
      - "9090:9090"
    environment:
      - APP_ENV=development
    depends_on:
      - backend1
      - backend2
      - backend3
    networks:
      - monitoring

  backend1:
    image: alpine:latest
    container_name: backend1
    ports:
      - "3001:3001"
    command: sh -c "while true; do ( sleep 0.1; echo 'Backend-1'; ) | nc -l -p 3001; done"
    networks:
      - monitoring
    logging:
      driver: "none"

  backend2:
    image: alpine:latest
    container_name: backend2
    ports:
      - "3002:3002"
    command: sh -c "while true; do ( sleep 0.1; echo 'Backend-2'; ) | nc -l -p 3002; done"
    networks:
      - monitoring
    logging:
      driver: "none"

  backend3:
    image: alpine:latest
    container_name: backend3
    ports:
      - "3003:3003"
    command: sh -c "while true; do ( sleep 0.1; echo 'Backend-3'; ) | nc -l -p 3003; done"
    networks:
      - monitoring
    logging:
      driver: "none"




  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring

volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring:
    driver: bridge
